<?xml version='1.0' encoding='utf-8'?>
<widget id="com.test" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>F7-React-PG</name>
    <description>
        F7-React-PG
    </description>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="phonegap-version" value="cli-7.1.0" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-build-tool" value="gradle" />
    <plugin name="cordova-plugin-whitelist" />
    <engine name="android" spec="^7.0.0" />
    <engine name="ios" spec="^4.5.5" />
</widget>
